@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather&family=Montserrat&family=Raleway&family=Roboto&family=Work+Sans&display=swap');
html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 50px;
    font-family: Roboto, sans-serif;
    background-color: lightgray;
}

h2,
h3,
h4 {
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 15px;
    font-weight: lighter;
}

h1 {
    padding-bottom: 15px;
    font-size: 26px;
    font-weight: lighter;
}

header {
    border-bottom: 3px solid black;
    min-width: 620px;
    max-width: 1052px;
}

header div {
    min-width: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
}

header div h1 {
    font-size: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header div nav ul {
    display: flex;
    justify-self: start;
}

header div nav ul li a {
    color: green;
    text-decoration: none;
    margin: auto;
    width: 50%;
    padding: 10px;
}

header div nav ul li :hover {
    background-color: green;
    color: white;
}

section {
    min-width: 620px;
    max-width: 1052px;
    display: grid;
    grid-template-areas: "main aside";
    column-gap: 70px;
}

main {
    grid-area: main;
    margin-top: 30px;
}

#one {
    background-color: white;
    margin-left: 20px;
    float: right;
}

#two {
    background-color: white;
    float: left;
    margin-right: 20px;
}

img {
    border: 2px solid black;
    padding: 10px;
}

aside {
    grid-area: aside;
    margin-top: 30px;
}

aside ul li a {
    text-decoration: none;
    color: green;
    padding-left: 10px;
}