@media screen and (max-width: 800px) {
  header nav {
    flex-direction: column;
    gap: 1rem;
  }

  header nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0.4rem;
  }
  .trainings {
    flex-direction: column;
  }
  .trainings div {
    width: 50%;
  }
  .instructors-pic {
    flex-direction: column;
  }
  .instructors-pic div {
    width: 22rem;
  }
  .getInTouch {
    display: block;
    margin-bottom: 2rem;
  }
  .getInTouch .form {
    width: 100%;
  }

  .site-footer .wrapper {
    display: grid;
    grid-template-areas:
      "up up up"
      "down-left . down-rigth";
  }

  .site-footer .wrapper header {
    font-size: 0.7rem;
  }
  .about header > p {
    font-size: 0.5rem;
  }
  .about > p {
    font-size: 0.6rem;
  }
  .site-footer .wrapper ul {
    font-size: 0.7rem;
  }
  .site-footer .wrapper h3 {
    padding-bottom: 1.5rem;
  }
  .site-footer .about {
    grid-area: up;
  }
  .site-footer .about .site-footer .sitemap {
    grid-area: down-left;
  }
  .site-footer .contacts {
    grid-area: down-rigth;
  }
}
