<h1>Create Product</h1>
<a href="/catalog">Back to catalog</a>
<form action="/catalog/create" method="POST">
  <label>Name: <span><input type="text" name="name" /></span></label>
  <label>Price: <span><input type="text" name="price" /></span></label>
  <label>Promoted:
    <span><input type="checkbox" name="promoted" /></span></label>
  <input type="submit" value="Create" />
</form>